/* .card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
} */

.card-list {
  width: 80vw;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fill, 20rem);
  grid-auto-rows: 10rem;
  grid-gap: 20px;
}