.card-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,1);
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  /* border: 3px solid #fff; */
  border-radius: 10px;
  backdrop-filter: blur(1.5rem);
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container h2 {
  font-weight: 500;
}
.card-container:hover {
  transform: scale(1.05);
}