.card-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(55, 255, 255, 0.1)
  );
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(1.5rem);
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card__content {
  border-radius: 10px;
}

.card__content h3 {
  font-weight: 100;
  font-size: 0.8rem;
}

.card__image {
  width: 4rem;
  height: 4rem;
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(235, 73, 52, 0.5);
  background-image: url(../../images/generic.svg);
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 1);
}

.museum .card__content {
}

.museum .card__content .card__image {
  background-image: url(../../images/museum.svg);
  background-color: rgba(41, 91, 255, 0.5);
}

.theatre .card__content .card__image {
  background-image: url(../../images/theatre.svg);
  background-color: rgba(248, 255, 43, 0.5);
}

.park .card__content .card__image {
  background-image: url(../../images/park.svg);
  background-color: rgba(64, 255, 102, 0.5);
}

.card-container h2 {
  font-weight: 500;
}
.card-container:hover {
  transform: scale(1.05);
}
