.card-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(55, 255, 255, 0.1)
  );
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(1.5rem);
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card__content {
  border-radius: 10px;
}

.card__image {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  background-image: url(../../images/generic.svg);
}

.museum .card__content {
  background-color: green;
  background: linear-gradient(
    to right bottom,
    rgba(235, 73, 52, 0.3),
    rgba(235, 73, 52, 0.1)
  );
}

.museum .card__content .card__image {
  background-image: url(../../images/museum.svg);
}

.theatre .card__content .card__image {
  background-image: url(../../images/theatre.svg);
}

.park .card__content .card__image {
  background-image: url(../../images/park.svg);
}

.card-container h2 {
  font-weight: 500;
}
.card-container:hover {
  transform: scale(1.05);
}
